@model Site.Models.NotaPedido

@{
    ViewData["Title"] = "Details";
    var DBMysql = new Site.Models.Sistema.DBMysql();
    DBMysql.OpenConnection();
    var TotalProductos = new Site.Models.Producto(DBMysql).GetTotalByNota(Model.Id);
    DBMysql.CloseConnection();
}

<h2>Details</h2>

<div>
    <h4>NotaPedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Folio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Folio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id_Pedido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pedido_.Clave)
        </dd>
        <dt>
            Total Productos
        </dt>
        <dd>
            @TotalProductos
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to order", "Details","Pedido", new { id = Model.Id_Pedido })
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tipo Producto
                    </th>
                    <th>
                        Clave
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Precio cotizacion
                    </th>
                    <th>
                        Precio compra
                    </th>
                    <th>
                        Precio venta
                    </th>
                    <th>
                        Ganancia
                    </th>
                    <th>
                        Actualizado
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Producto_)
                {
                    <tr>
                        <td>
                            @{
                                if (item.IdTipoProducto == 1)
                                {
                                    <span>Oro</span>
                                }
                                else
                                {
                                    <span>Plata</span>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecioCotizacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecioCompra)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecioVenta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ganacia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Updated)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Producto", new { id = item.Id }, null) |
                            @Html.ActionLink("Details", "Details", "Producto", new { id = item.Id }, null) |
                            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
